
.picker {
    position: absolute !important;
    top: 74px;
    left: 70px;
    width: 90px !important;
    height: 90px !important;
  }

  .h1-colorful {
    position: absolute;
    top: 43px;
    left: 140px;
    padding: 0;
    margin: 40px;
    font-size: 5em;
    line-height: 0.7em;
    letter-spacing: -6px;
    color: #272730;
  } 