* {
    /* box-sizing: border-box; */
  }
  
  html,
  body,
  #root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #272727;
    /* -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; */
    /* user-select: none; */
    /* overflow: hidden; */
  }
  
  html,
  body {
    /* width: 100%;
    height: 100%; */
  }
  body {
    /* position: fixed; */
    /* overflow: hidden; */
  }
  
  body {
    /* overscroll-behavior-y: none; */
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial,
      sans-serif;
    color: black;
  }
  
  .canvas {
    top: 0;
    left: 0;
    width: 100%;
    height:100vh;
    z-index: 2;
  }

  .scroll-container-gsap {
    position: absolute;
    height: 1000vh;
    width: 100%;
    top: 0;
    z-index: 10;
    overflow: auto;
  }
  
  .scroll-container {
    position: absolute;
    overflow: auto;
    top: 0px;
    width: 100%;
    height: 100vh;
    font-size: 20em;
    font-weight: 800;
    line-height: 0.9em;
  }
 
  
  .bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    background: lightcoral;
  }